<html>
    <head>
        <meta charset="UTF-8">
        <title>html page</title>
    </head>

    <body>
        <h1><b>Hello</b></h1>
        <h3>Enter the details</h3>
        <form action="" >
            First Name:<br>
            <input type="text" name="firstname"><br>
            Last Name:<br>
            <input type="text" name="lastname"><br>
            Date of Birth:<br>
            <input type="date" name="DOB"><br>
            <input type="submit" value="Submit">


        </form>

    </body>

</html>